.main-container {
    min-width: 500px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.x-margin-normal {
    margin: 0 0.5rem;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem 1rem 1rem;
}

#new-quote {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: center;
}

#new-quote-author {
    color: darkgrey;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.3;
}
